doctype html
html
  head
    meta charset="utf-8"
    title パワプロアプリデッキシミュレータ
    meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"
    meta name="keywords" content="react,reactjs,パワプロアプリ,シミュレータ,イベキャラ,コツイベント,前イベ,後イベ,金特,オリジナル変化球"
    meta name="description" content="アプリ版パワフルプロ野球のイベントデッキシミュレータです イベキャラを指定してコツ・オリジナル変化球・金特能力・前イベ後イベを判定します"
    meta property="og:locale" content="ja-JP"
    meta property="og:title" content="パワプロアプリデッキシミュレータ"
    meta property="og:description" content="アプリ版パワフルプロ野球のイベントデッキシミュレータです イベキャラを指定してコツ・オリジナル変化球・金特能力・前イベ後イベを判定します"
    meta property="og:url" content="https://umeyuki.github.io/ppa4sim"
    meta property="og:site_name" content="パワプロアプリデッキシミュレータ"
    meta property="og:type" content="article"
    link rel="stylesheet" href="assets/stylesheets/all.css"
  body
    div.container
      h3.content-subhead パワプロアプリデッキシミュレータβ
      #app
      .footer
        | Copyright &copy; umeyuki 2015.
        | Powerd by
        a href="http://pawapurolabo.tumblr.com">パワプロアプリ研究所
    script src="assets/javascripts/app.js"
